{% extends 'base.html' %}

{% block content %}

  <div class="container">
    <div class="" align="center">
      <h2>Catalogue Listing</h2>
    </div>

    <div align="center">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Item</th>
            <th>Date</th>
            <th>Valid</th>
          </tr>
        </thead>

        <tbody>
          {% for instance in object_list %}
            <tr>
              <td>{{instance.Item_Description}}</td>
              <td>{{instance.Date}}</td>
              <td>{{instance.Validity}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="" align="right">
      <a class="btn btn-primary" href="/input/">Add Entry</a>
    </div>
  </div>
{% endblock %}
